@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(185, 41%, 84%);
  font-family: 'Space Mono', monospace;
  font-weight: 700;
}

header,
footer {
  text-align: center;
  margin: 45px;
  color: hsl(183, 100%, 15%);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 20px;
  border-radius: 18px;
  box-shadow: 0 0 10px hsl(184, 14%, 56%);
  margin: 0 10px 0 10px;
}

.cln {
  font-size: smaller;
  width: 50%;
  padding-right: 10px;
  padding-left: 10px;
  min-height: 400px;
  width: 410px;
}

.first {
  color: hsl(186, 14%, 43%);
}

.second {
  background-color: hsl(183, 100%, 15%);
  border-radius: 18px;
  position: relative;
}

.sub-cln {
  margin-top: 15px;
  margin-bottom: 30px;
}

.second .sub-cln {
  margin: 30px 40px 0 40px;
}

h1 {
  padding-bottom: 10px;
  font-size: 18px;
}

#total-info {
  margin-bottom: 100px;
  max-width: 320px;
  word-wrap: break-word;
}

#tip-info {
  max-width: 320px;
  word-wrap: break-word;
}

.result {
  text-align: right;
  font-size: 40px;
  color: hsl(172, 67%, 45%);
}

.info {
  margin-top: 10px;
  float: left;
  color: hsl(0, 0%, 100%);
  font-size: larger;
}

.info p {
  font-size: smaller;
  color: hsl(184, 14%, 56%);
  margin: -5px;
}

.btn--per {
  border: none;
  border-radius: 5px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(183, 100%, 15%);
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  width: 120px;
  height: 50px;
}

.btn--per:focus {
  background-color: hsl(172, 67%, 45%);
}

#custom {
  border-radius: 5px;
  padding: 12px 12px;
  font-size: 20px;
  margin: 4px 2px;
  width: 120px;
  height: 50px;
  cursor: pointer;
}

#custom::placeholder {
  font-size: 24px;
  font-weight: bolder;
  color: hsl(186, 14%, 43%);
}

.fullInput {
  background-color: hsl(189, 41%, 97%);
  width: fit-content;
  cursor: pointer;
}

.fullInput .input {
  text-align: right;
  width: 350px;
}

.fullInput img {
  margin: 10px 0 10px 10px;
  position: absolute;
}

.input {
  background-color: hsl(189, 41%, 97%);
  font-size: 24px;
  border: none;
  height: 40px;
  cursor: pointer;
}

.input::placeholder {
  color: hsl(186, 14%, 43%);
  font-weight: lighter;
}

input:focus {
  outline: none;
  border: solid 3px hsl(172, 67%, 45%);
  border-radius: 5px;
}

#reset {
  background-color: hsl(181, 100%, 21%);
  color: hsl(183, 100%, 19%);
  border: none;
  border-radius: 2px;
  padding: 15px 135px;
  font-size: large;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  position: absolute;
  bottom: 30px;
  cursor: pointer;
}
